includes:
    - /opt/project/vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max

    paths:
        - /opt/project/src
        - /opt/project/tests

    tmpDir: /opt/project/tmp/phpstan
    treatPhpDocTypesAsCertain: false

#    autoload_files:
#        - %rootDir%/../../../vendor/autoload.php

    inferPrivatePropertyTypeFromConstructor: true
#    checkMissingIterableValueType: true
#    checkGenericClassInNonGenericObjectType: true
    checkUninitializedProperties: true

    reportUnmatchedIgnoredErrors: true
#    checkAlwaysTrueCheckTypeFunctionCall: true
    checkExplicitMixed: true
    checkFunctionNameCase: true
    checkPhpDocMethodSignatures: true
    checkUnionTypes: true
    checkClassCaseSensitivity: true

    checkFunctionArgumentTypes: true
    checkArgumentsPassedByReference: true

#    ignoreErrors:
#        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::.*#'

#    bootstrapFiles:
#        - tests/Unit/phpstan-bootstrap.php

#    excludes_analyse:
#        - tests/Fixtures
#        - tests/_Data
#        - vendor

#    scanFiles:
#        - src/index.php

#    memoryLimit: 1G
    shipmonkRules:
        forbidCustomFunctions:
            enabled: true
            list:
                'var_dump': 'Please remove debug code'
                'dd': 'Please remove debug code'
                'dump': 'Please remove debug code'
                'time': 'Please use Carbon::now()'
                'date': 'Please use Carbon::now()->format()'
                'strtotime': 'Please use Carbon::parse()'
                'strftime': 'Please use Carbon::parse() with appropriate formats'
